spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:maindb
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: false

    show-sql: false

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE