spring:
  datasource:
    url: jdbc:h2:file:./data/maindb;AUTO_SERVER=TRUE;
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: true

    show-sql: true